body {
  margin: 10%;
  text-align: left
}


.header {
  text-align: center;
}
.header h1 {
  font-size: 3em;
}


.summary {
  font-style: italic;
}


.category {
  margin-bottom: 3em;
}
.category h2 {
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  -webkit-margin-after: 0.2em;
}
.category h3 {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
}
.category p {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  font-style: italic;
}
.category .accomplishment {
  position: relative;
  text-transform: uppercase;
  clear: none;
  margin-bottom: 2em;
}
.category .right-column {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.category .skills {
  margin-top: 1em;
  text-transform: none;
  width: 100%;
}
.category .skills span{
  font-weight: bold;
}
.category .list-container {
  text-transform: none;
}
.category .list-container ul{
  -webkit-margin-before: 0.2em;
}
