body {
  margin: 10%;
  text-align: left
}


.header {
  text-align: center;
}
.header h1 {
  font-size: 3em;
}


.summary {
  font-style: italic;
}


.experience {
}
.experience h2 {
  border-bottom: 1px solid gray;
  -webkit-margin-after: 0em;
}
.experience h3 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.experience p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-style: italic;
}
.experience .left-column {
  text-transform: uppercase;
  width: 45%;
  float: left;
}
.experience .right-column {
  float: right;
  width: 45%;
  text-align: right;
}
